
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black-100: #f5f5f5;       
  --color-black-200: #e0e0e0;       
  --color-black-300: #a0a0a0;       
  --color-black-400: #5a5a5a;       
  --color-black-500: #3a3a3a;       
  --color-black-600: #1f1f1f;       
  --color-black-700: #121212;       
  --color-black-800: #0a0a0a;       
}

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
}

/* Hide scrollbar while still being able to scroll */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Dark mode scrollbar */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(75, 85, 99, 0.5);
  }
  
  * {
    scrollbar-color: rgba(75, 85, 99, 0.5) transparent;
  }
}
